html {
  font-size: 100%;
  background-color: #fff;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: arial, sans-serif;
}
header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justfy-items: end;
  height: 6rem;
  padding-top; 0.8rem; 
  background-color: #f62459ff;
  color: #fff;
  font-size: .5rem;
  text-transform: uppercase;
}
header img{
   height: 25%;
}

nav {
  padding: 1rem 0 1rem 0;
}

nav ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: left;
  list-style-type: none;
}
nav ul li{
  background-color: #008080ff;
  border: 1px solid #008080ff;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}
nav ul li a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover{
color: #fff;
text-transform: uppercase;
text-decoration: none;
}
nav ul li:nth-child(1){
  border: 1px solid #008080ff;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}
nav ul li:nth-child(1) a{
  color: #fff;
  text-decoration: none;
}
nav ul li a:nth-child(1) a:hover{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li:nth-child(2){
  background-color: #008080ff;
  border: 1px solid #008080ff;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}
nav ul li:nth-child(2) a{
  color: #fff;
  text-decoration: none; 
}
nav ul li a:nth-child(2) a:hover{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li:nth-child(3){
  background-color: #008080ff;
  border: 1px solid #008080ff;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}
nav ul li:nth-child(3) a{
  color: #fff;
  text-decoration: none;
}
nav ul li a:nth-child(3) a:hover{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li:nth-child(4){
  background-color: #008080ff;
  border: 1px solid #008080ff;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}
nav ul li:nth-child(4) a{
  color: #fff;
}
nav ul li a:nth-child(4) a:hover{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.wrapper{
  background-color: #67d50c;
  margin: 0 2em 0 2em;
}
#primary {
  display: grid;
  grid-template-columns (auto-fit, minmax(240px, 1fr));
  padding: 0 0 1rem 2rem;
 }
#main_article{
  padding: 0 1em 0 1em;
  color: #000;
}
article h1{
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to right, white, grey);
}
article h2{
  text-align: center;
  font-size: 20px;
background: linear-gradient(to right, white, grey);
}

figure{
  padding: 1em 1em 0 1em;
}
figure img{
  text-align: center;
  width: 25%;
  height: 25%;
  border-radius: 20px;
}
figcaption{
  text-align: left;
  font-family: arial, sans-serif;
  font-size: 0.75rem;
}
footer{
  display: flex;
  background-color: #f62459ff;
  color: #fff;
  padding: 2rem 1 1 2rem;
}
